{% extends "account/base_temp.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block style %}
<style>
    .space {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
        }

</style>
{% endblock style %}


{% block content %}
<main class="space">
    <!-- <h1>{% trans "Change Password" %}</h1> -->
    <p>{% trans 'Your password has been successfully changed.' %}</p>
    <p>You will be redirected to the login page in 5seconds</p>
</main>
{% endblock %}

{% block script %} 
<script>
    setTimeout(function(){
       window.location.href = "{% url 'login_page' %}";
    }, 5000);
 </script>
{% endblock script %}
