{% extends "account/base_temp.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block style %}
<style>
    .space {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
        }

</style>
{% endblock style %}

{% block content %}
<main class="space">
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    <p>You will be redirected to the login page in 5seconds</p>
</main>
{% endblock %}

{% block script %} 
<script>
    setTimeout(function(){
       window.location.href = "{% url 'login_page' %}";
    }, 5000);
 </script>
{% endblock script %}
