{% extends 'account/base_temp.html' %}
{% load static %}

        {% block style %}
        <style>
            .password-form {
                width: 100%;
                max-width: 330px;
                padding: 15px;
                margin: auto;
                }

        </style>
        {% endblock style %}

          {% block content %}
          <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

          {% if token_fail %}
              {% url 'account_reset_password' as passwd_reset_url %}
              <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
          {% else %}
          <main class="password-form">
              <!-- <div class="col col-md-7"> -->
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}              

              <h1 class="h3 mb2 fw-normal">Change Password</h1>

              <label for="id_password1">New Password:</label>
              <input class="form-control border border-primary" type="password" name="password1" placeholder="New Password" autocomplete="new-password" required id="id_password1">
              
              <label for="id_password2">Re-Enter Password:</label>
              <input class="form-control border border-primary" type="password" name="password2" placeholder="Re-Enter Password" required id="id_password2">
              <input class="w-100 btn btn-lg btn-primary mt-2" type="submit" name="action" value="change password"/>
              <!-- <button type="submit">Reset Password</button>      -->
            </form>
            <!-- </div> -->
          </main>
          {% endif %}
{% endblock content %}
