{% extends 'core/base.html' %}

{% block content %}

<main class="row overflow-auto me-2 gx-1 gy-1 pt-2">

    <div class="col">
        {% if messages %}
            <div class="col">  
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} d-flex align-items-center" role="alert">
                
                <div>
                <p>
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    {{ message }}
                </p>
                </div>
                <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            </div>
        {% endif %}
        <div class="d-flex justify-content-center">
            <svg class="bi me-2" style="color:red" ><use xlink:href="#exclamation-triangle-fill"/></svg>
        </div>
        
        <h5>This User Account is not verified. Kindly visit your mail to click on verification link.</h5>
        <h6>Or you can click <a style="display: inline;" href="{% url 'request_verification' %}">here</a> to request for another validation link</h6>
        <p>Kindly Complete your validation now we can't wait to have you here!!</p>
    </div>
  
</main>
{% endblock %}
