{% extends 'core/base.html' %}

{% block content %}
<main class="row overflow-auto me-2 gx-1 gy-1 pt-2">
    <div class="col">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Staff</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                <tr>
                    <th scope="row">{{ count }}</th>
                    <td> <a style="text-decoration: none;" class="text-white" href="{% url 'user_detail' customer.pk %}">{{ customer.username }}</a></td>
                    <td>{{ customer.email }}</td>
                    <td>{% if customer.is_staff %} 
                        <svg class="bi me-2" width="16" height="16" style="color:green" ><use xlink:href="#check"/></svg> 
                        {% else %} 
                        <svg class="bi me-2" width="16" height="16" style="color:red" ><use xlink:href="#cancel"/></svg> 
                        {% endif %}
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}